[user]
	name = Jan Kruska
	email = JanKruska@protonmail.com
[cola]
	spellcheck = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[core]
	autocrlf = input
[pull]
	rebase = false
